<!DOCTYPE html>
<html>
<head>
	<title>Mi Perfil</title>
	<link rel="stylesheet" href="{% static 'core/css/miperfil.css' %}">
</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="../../../profiles/templates/profiles/miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="../../../profiles/templates/profiles/nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
</nav>

<section id="top" >
           <div>
              <img src="https://s3.amazonaws.com/FringeBucket/default-user.png" class="profile-photo"/>
            </div>
          <h1>Juan Mogu</h1><br>
          <h2>Co-fundador y Director ejecutivo de Making Friends</h2>
          <a href="editarperfil.html">
                    <button class="btn">Editar</button> 
                    </a>
<section class="proyectos">
	<h3>Mis proyectos</h3>
</section>

<section class="card-area" >   
        <section class="card-section">                 
                         <div class="card-front">
                             <div class="card-front__tp">   
                             <a href="miperfil.html">                                                                     
                               <h4 class="card-front__heading" align="text-center">
                                Crear un nuevo proyecto</h4>
                              </a>
                                </div>
                                 </section>
                                 

    <section class="card-area" >   
        <section class="card-section">                 
                         <div class="card-front">
                             <div class="card-front__tp">   
                             <a href="miperfil.html">                                                                     
                               <h4 class="card-front__heading" align="text-center">
                                "proyecto Creado"</h4>
                              </a>
                                </div>
                                 </section> 
                                 </section>
                                 </section>
     
<section class="contenido">
	<h3>El contenido visto recientemente</h3>

<div class="wrapper">
  <div class="wrapper_inner">
    <!-- Gallery -->
    <section class="gallery">
      <!-- Gallery  item -->
      <div class="gallery_item">
        <!-- Gallery  item preview -->
        <span class="gallery_item_preview">
          <a href="#" data-js="1">
          
            
            <img src="https://25.media.tumblr.com/1adc4029ef3a31124f222add70fa3553/tumblr_n2k1499dIp1st5lhmo1_1280.jpg" alt="" /><span>
            <h3>Exmaple photo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.</p>

            </span>
          </a>

        </span>
        <!-- Gallery  item full -->
        <div data-lk="1" class="gallery_item_full">
          <div class="box">
            <img src="https://25.media.tumblr.com/1adc4029ef3a31124f222add70fa3553/tumblr_n2k1499dIp1st5lhmo1_1280.jpg" alt="" />
            <h3>Example image</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem minima saepe itaque animi fuga consequuntur. Praesentium dolorum neque autem nihil nobis quam animi ullam eos tempora quia eius aliquid?</p>
          </div>
        </div>
      </div>

       <!-- Gallery  item -->
      <div class="gallery_item">
        <!-- Gallery  item preview -->
        <span class="gallery_item_preview">
          <a href="#" data-js="2">
            
            <img src="https://25.media.tumblr.com/b8fd8b5382cce0e5be44bd1245ea2cf4/tumblr_n2k138YEtG1st5lhmo1_1280.jpg" alt="" /><span>
            <h3>Exmaple Video</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
            

                                 

</body>
</html>