<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fianciamiento colectivo - Making Friends</title>
  <link rel="stylesheet" href="css/colectivo_final.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>

</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
  <div class="logo_friend">
    <a href=".../MC.html">            
    <img clas="logo"src="friends/mc1.png" style="width: 8rem;">
    </a>
  </div>
</nav>
<body>
<section class="titulo">
  Lanza tu campaña campaña

<div class="subtitulo">3..2..1 Estamos al aire</div>

  <div class="descipción">Ya eres todo un experto en Financiamiento colectivo, estás a solo unos pasos de crear tu campaña en MiCochinito.com. Asegúrate de tener todos los requisitos necesarios para llenar el siguiente formalario</div>
  </section>

<section class="final_mc">
<div class="botton">
  <div class="icon">
    <a  href="https://www.micochinito.com/nuevo-proyecto">
    <div class="play-icon">Crear mi campaña</div>
  </div>
  <div class="botton__text">
  </div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
  <div class="botton__circle"></div>
</div></a>
</section>

<div class="descipción_final"> Todo gran maker puede tener dudas sobre los temas vistos. Si tienes dudas puedes consultar toda la información en esta guía, es ¡GRATIS! </div>

<div class="descipción">Si tienes cosas que no quedan claras puedes preguntarnos en nuestro chat y con gusto te ayudaremos</div>

<div class="guia">
<ul>
<a class="btn_guia" href=""><li>DESCARGA LA GUÍA</li> </a>
<li>Encontrarás más información</li>
</ul>
</div>

<a class="btn_contacto" href="https://wa.me/525545897787?text=Hola%20MiCochinito%20...">
                    Contactar a MiCochinito.com
                </a></div>

<a href="../index.html">
                    <button class="btn">Menú Principal</button>
                </a></div>

<div class="product-slider">
     <button class="prev" style="">
      <a  href="colectivo_8.html">
        <span class="icon_prev">
          <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
        </span>
      </button>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="js/script.js"></script>

</body>
</html>
