<!DOCTYPE html>
<html>
<head>
	<title>Financiamiento colectivo - Making Friends</title>
	<link rel="stylesheet" href="css/colectivo_6.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>

</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
  <div class="logo_friend">
  	<a href="MC.html">            
  	<img clas="logo"src="friends/mc1.png" style="width: 8rem;">
  	</a>
  </div>
</nav>
<body>
<section class="titulo">
	Creación de campaña

<div class="subtitulo">Planea tu calendario de actividades</div>

	<div class="descipción">Una campaña de crowdfunding requiere tiempo y mucha organización para tener el mayor alcance posible y lograr el éxito de la recaudación. 

Llena un calendario con las actividades que realizarás durante el mes de duración de la campaña. Sé realista con los tiempos que dispones para invertir en la promoción. 

Puedes guiarte del siguiente ejemplo:
</div>

<div class="descipción">Arrastra los cuadros en el calendario</div>

<div id="box1" class="box primero">
  <div class="content"> Planeación    
  </div>
</div>

<div id="box2" class="box2 segundo">
  <div class="content"> Avisar a mis contactos    
  </div>
</div>

<div id="box3" class="box3 tercero">
  <div class="content"> Lanzar campaña    
  </div>
</div>

  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script><script  src="js/calendar.js"></script>

<section class="calendar">
      <div class="calendar__header">
        <div>LUN</div>
        <div>MAR</div>
        <div>MIÉR</div>
        <div>JUE</div>
        <div>VIE</div>
        <div>SAB</div>
        <div>DOM</div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">1</div>
        <div class="calendar__day day">2</div>
        <div class="calendar__day day">3</div>
        <div class="calendar__day day">4</div>
        <div class="calendar__day day">5</div>
        <div class="calendar__day day">6</div>
        <div class="calendar__day day">7</div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">8</div>
        <div class="calendar__day day">9</div>
        <div class="calendar__day day">10</div>
        <div class="calendar__day day">11</div>
        <div class="calendar__day day">12</div>
        <div class="calendar__day day">13</div>
        <div class="calendar__day day">14</div>        
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">15</div>
        <div class="calendar__day day">16</div>
        <div class="calendar__day day">17</div>
        <div class="calendar__day day">18</div>
        <div class="calendar__day day">19</div>
        <div class="calendar__day day">20</div>
        <div class="calendar__day day">21</div>    
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">22</div>
        <div class="calendar__day day">23</div>
        <div class="calendar__day day">24</div>
        <div class="calendar__day day">25</div>
        <div class="calendar__day day">26</div> 
        <div class="calendar__day day">27</div> 
        <div class="calendar__day day">28</div> 
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">29</div>
        <div class="calendar__day day">30</div>
        <div class="calendar__day day">31</div>
        <div class="calendar__day day">1</div>
        <div class="calendar__day day">2</div>
        <div class="calendar__day day">3</div>
        <div class="calendar__day day">4</div>
      </div>
    </div>
</section>


<div class="product-slider">
     <button class="prev" style="">
      <a  href="colectivo_5.html">
        <span class="icon_prev">
          <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
        </span>
      </button>

      <button class="next">
        <a  href="colectivo_8.html">
        <span class="icon">
          <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
        </span>
      </button>