<!DOCTYPE html>
<html>
<head>
	<title>Financiamiento colectivo - Making Friends</title>
  {% load static %}
	<link rel="stylesheet" href="{% static 'core/css/colectivo_5.css' %}">   <!-- css agregado m.r.a -->
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="{% url 'market' %}"><li>Makerplace</li></a>
      <a href="{% url 'perfil' %}"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="{% url 'logout' %}"><li>Cerras sesión</li></a> <!-- ruta agregada m.r.a -->
      
    </ul>
  </div>
  <div class="logo_friend">
    <a href="{% url 'mc' %}">             
      <img src="{% static 'core/img/friends/mc1.png' %}" style="width: 8rem;"> 
  	</a>
  </div>
</nav>
<body>

<section class="titulo">
     Creación de campaña

  <div class="subtitulo">Determina las recompensas no monetarias que darás a tus padrinos</div>

  <div class="descipción">Las recompensas te van a servir para incentivar las aportaciones,es decir, hacer que la gente no sólo te aporte porque le gusta tu proyecto y cree en ti, sino porque se llevará algo a cambio.</div>
  
  <div class="descipción">Pero recuerda, estas no deben representar un gasto extra para ti en esta etapa, lo que quieres es llegar a la meta, por lo que te recomendamos que tomes en cuenta los siguientes tipos de recompensas:</div>  

<section class="numeralia" style="background-color:#ffffff" >
  <div class="wrapper3">
    <div class="wrapper2">
      <div class="wrapper1">
        <div class="col1">
          <img class="ilustr" src="{% static 'core/img/mc/package.png' %}"></button> <!-- ruta agregada m.r.a -->
        </div>
        <div class="col2">
          <img class="ilustr" src="{% static 'core/img/mc/fire-cracker.png' %}">  <!-- ruta agregada m.r.a -->     
        </div>
        <div class="col3">
          <img class="ilustr" src="{% static 'core/img/mc/pizza.png' %}"> <!-- ruta agregada m.r.a -->
        </div>
      </div>
    </div>
  </div>

  <section class="numeralia" style="background-color:#ffffff" >
  <div class="wrapper3">
    <div class="wrapper2">
      <div class="wrapper1">
        <div class="col1">
          <button onclick="funtion()" style="background-color: transparent; border: none; margin-bottom:none">
          <img class="ilustr" src="{% static 'core/img/mc/llorar.png' %}"></button> <!-- ruta agregada m.r.a -->
        </div>
        <div class="col2">
          <img class="ilustr" src="{% static 'core/img/mc/zapato.png' %}">  <!-- ruta agregada m.r.a -->     
        </div>
        <div class="col3">
          <img class="ilustr" src="{% static 'core/img/mc/carro-deportivo.png' %}"> <!-- ruta agregada m.r.a -->
        </div>
      </div>
    </div>
  </div>


<div class="product-slider">
     <button class="prev" style="">
      <a  href="{% url 'colectivo_4' %}">
        <span class="icon_prev">
          <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
        </span>
      </button>

      <button class="next">
        <a  href="{% url 'colectivo_6' %}">
        <span class="icon">
          <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
        </span>
      </button>

    </body>
    </html>