<!DOCTYPE html>
<html>
<head>
	<title>Financiamiento colectivo - Making Friends</title>
	<link rel="stylesheet" href="css/colectivo_2.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
  <div class="logo_friend">
  	<a href="MC.html">            
  	<img clas="logo"src="friends/mc1.png" style="width: 8rem;">
  	</a>
  </div>
</nav>
<body>
<section class="titulo">
	Creación de campaña

  <div class="subtitulo">Difusión de mi campaña</div>
	<div class="descipción">Graba un video atractivo que te ayudará a promocionar tu campaña. Esta será tu principal carta de presentación y a través de la cual convencerás a las personas de donar a tu proyecto. <br></div>

<div class="descipción">Te compartimos un video con algunos consejos para tener un resultado de calidad</div>
</div>
	</section>

<section class="video_derecha">
   <iframe width="700" height="400" src="https://www.youtube.com/embed/J6CP8ziU4pQ?controls=0">
</iframe>
 

<div class="product-slider">
     <button class="prev" style="">
      <a  href="colectivo_7.html">
        <span class="icon_prev">
          <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
        </span>
      </button>

      <button class="next">
        <a  href="colectivo_final.html">
        <span class="icon">
          <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
        </span>
      </button>