<!DOCTYPE html>
<html>
<head>
	<title>Financiamiento colectivo - Making Friends</title>
	<link rel="stylesheet" href="css/colectivo_5.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
  <div class="logo_friend">
  	<a href="MC.html">            
  	<img clas="logo"src="friends/mc1.png" style="width: 8rem;">
  	</a>
  </div>
</nav>
<body>

<section class="titulo">
     Creación de campaña

  <div class="subtitulo">Determina las recompensas no monetarias que darás a tus padrinos</div>

  <div class="descipción">Las recompensas te van a servir para incentivar las aportaciones,es decir, hacer que la gente no sólo te aporte porque le gusta tu proyecto y cree en ti, sino porque se llevará algo a cambio.</div>
  
  <div class="descipción">Pero recuerda, estas no deben representar un gasto extra para ti en esta etapa, lo que quieres es llegar a la meta, por lo que te recomendamos que tomes en cuenta los siguientes tipos de recompensas:</div>  

<section class="numeralia" style="background-color:#ffffff" >
  <div class="wrapper3">
    <div class="wrapper2">
      <div class="wrapper1">
        <div class="col1">
          <img class="ilustr" src="images/package.png"></button> 
        </div>
        <div class="col2">
          <img class="ilustr" src="images/fire-cracker.png">        
        </div>
        <div class="col3">
          <img class="ilustr" src="images/pizza.png">
        </div>
      </div>
    </div>
  </div>

  <section class="numeralia" style="background-color:#ffffff" >
  <div class="wrapper3">
    <div class="wrapper2">
      <div class="wrapper1">
        <div class="col1">
          <button onclick="funtion()" style="background-color: transparent; border: none; margin-bottom:none">
          <img class="ilustr" src="images/llorar.png"></button> 
        </div>
        <div class="col2">
          <img class="ilustr" src="images/zapato.png">        
        </div>
        <div class="col3">
          <img class="ilustr" src="images/carro-deportivo.png">
        </div>
      </div>
    </div>
  </div>


<div class="product-slider">
     <button class="prev" style="">
      <a  href="colectivo_4.html">
        <span class="icon_prev">
          <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
        </span>
      </button>

      <button class="next">
        <a  href="colectivo_6.html">
        <span class="icon">
          <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
        </span>
      </button>

    </body>
    </html>