<!DOCTYPE html>
<html>
<head>
	<title>Financiamiento colectivo - Making Friends</title>
	<link rel="stylesheet" href="css/colectivo_3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>
<body>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
  <div class="logo_friend">
  	<a href="MC.html">            
  	<img clas="logo"src="friends/mc1.png" style="width: 8rem;">
  	</a>
  </div>
</nav>
<body>

<section class="titulo">
     Creación de campaña

  <div class="subtitulo">Describe tu proyecto</div>

  <div class="descipción">Describe en un párrafo de qué trata tu proyecto. Redáctalo de tal forma que cualquier persona pueda comprenderlo. Determina cuál es el objetivo. Piensa: ¿qué vas a hacer?, ¿a quién/quiénes vas a ayudar?, ¿para qué lo harás?, ¿cómo lo harás?, ¿por cuánto tiempo?</div>

  <div class="ejercicio">¿Qué tengo que hacer?</div>

  <div class="descipción">Selecciona la opción correcta que cumpla con las características de una buena descripción</div>
  </section>

<section class="quiz">
  <button class="pregunta">Soy Diego, junto con mi comunidad queremos reforestar mi colonia, apóyame para conseguir fondos para mi proyecto</button>
                

  <button class="pregunta">Soy Diego y tengo un proyecto para reforestar mi comunidad, pero no contamos con los recursos necesarios. Necesitamos fondos para comprar 100 árboles, tenemos 30 días para lograrlo, si aportas a mi proyecto, te recompensaré con una visita a mi comunidad</button>
                

  <button class="pregunta">Soy Diego y me gustan los árboles, necesito dinero para comprarlos y plantarlos. Apóyame</button>
 
 </section>              

<div class="product-slider">
     <button class="prev" style="">
      <a  href="colectivo_2.html">
        <span class="icon_prev">
          <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
        </span>
      </button>

      <button class="next">
        <a  href="colectivo_4.html">
        <span class="icon">
          <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
        </span>
      </button>

    </body>
    </html>