<!DOCTYPE html>
<html>
<head>
 {% load static %}
	<title>Nosotros</title>
	<link rel="stylesheet" href="{% static 'core/css/nosotros.css'%}">

</head>
<body>

   <div class="nosotros" style="background: url(images/barras.jpg);">
   
   <span>¿Qué hacemos en</span> 
   <span>Making Friends?</span>
  
   
</div>
<section>
  <h1>Buscamos proporcionar herramientas y conocimientos para crear con libertad y enfoque, a través de una iniciativa multidisciplinar accesible para todos los  que quieren iniciar un proyecto. <br> <br>

Somos una comunidad donde cualquiera pueden llevar a cabo sus sueños sin importar si tienen recursos o no.</h1>

<h2>EFICIENTAMOS EL PROCESO DE CONECTAR RECURSOS CON LOS QUE LOS NECESITAN </h2>
</section>

<div class= "descubre" style="background-color:#000000"> Descubre como participar </div>
<div class="plit-screen-wrap flex">
  <div class="flex-child">
    <div class="img-wrap">
    </div>
    <h3 class="name">Makers</h3>
    <h4 class="designation">Jóvenes con interés en la
creación de soluciones y
proyectos que requieren
orientación y desarrollo de
habilidades.</h4>
    <a href=""></a>
    <button class="btn">¡Yo quiero!</button>
    </a>
  </div>
  <div class="flex-child child-2">
    <div class="img-wrap">
    <img src="" alt="">
    </div>
    <h3 class="name">Friends</h3>
    <h4 class="designation">Alianzas especializadas que
ayudan a la construcción de
estos proyectos a través de
un acuerdo de beneficio
mutuo.</h4>
    <a href="">
    <button class="btn">¡Yo quiero!</button>
    </a>
  </div>
  <!-- <div class="flex-child child-3">
    <div class="img-wrap">
    <img src="" alt="">
    </div>
    <h3 class="name">Oro</h3>
    <h4 class="designation">La clasificacion de oro se consigue al superar plata.</h4>
    <a href="">
    <button class="btn">¡Yo quiero!</button>
    </a>
  </div> -->
</div>

<section class="equipo" style="background-color:#ffffff"> Nosotros te guiaremos </section>
<section class="container">
<aside class="profile-card">

  <header>

    <!-- here’s the avatar -->
      <img src="{% static 'core/img/mogu.png'%}"> 
    </a>

    <!-- the username -->
    <h5>Juan Mogu</h5>

    <!-- and role or location -->
    <h6>Director Ejecutivo</h6>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    
    <p>Sociólogo de carrera, creador por convicción y soñador de nacimiento. Mi interés por la tecnología y la innovación me llevarona desarrollar proyectos enfocados en resolver problemas sociales a través de la energía, educación y creatividad.</p>

  </div>
</aside>

<aside class="profile-card1">

  <header>

    <!-- here’s the avatar -->
      <img src="{% static 'core/img/anto.png'%}">
    </a>

    <!-- the username -->
    <h5>Antonio Reyes</h5>

    <!-- and role or location -->
    <h6>Director Operativo</h6>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    
    <p>Me gusta mucho la programación, la divulgación científico-tecnológica y el teatro. Creo en que las cosas se deben hacer de forma ética en pro de mejorar nuestro entorno. Por eso apuesto por el talento de aquellos que nunca dejan de crear y creer.</p>

  </div>
</aside>

<aside class="profile-card2">

  <header>

    <!-- here’s the avatar -->
      <img src="{% static 'core/img/nan.png'%}">
    </a>

    <!-- the username -->
    <h5>Nancy Sanchez</h5>

    <!-- and role or location -->
    <h6>Directora de Educación</h6>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    
    <p>Creo en el respeto por las raíces, por lo que he implementado proyectos comunitarios. Con preparaciones en la Universidad Hebrea de Jerusalem y la Technion de Tel Aviv. Promuevo el empoderamiento de la sociedad en la toma de decisiones. 
</p>

  </div>
</aside>


</section>

<section class="container">
<aside class="profile-card3">

  <header>

    <!-- here’s the avatar -->
      <img src="{% static 'core/img/ara.png'%}">
    </a>

    <!-- the username -->
    <h5>Araceli Molina</h5>

    <!-- and role or location -->
    <h6>Directora de Comunicación</h6>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    
    <p>Coolhunter, comunicóloga, y una gran apasionada de la moda, el diseño y la fotografía
He colaborado en revistas de moda, proyectos de feminismo, arte contemporáneo asi como  trabajar para marcas de nacionales e internacionales como ejecutiva de cuentas y strategic planner</p>

  </div>
</aside>

<aside class="profile-card4">

  <header>

    <!-- here’s the avatar -->
      <img src="{% static 'core/img/jc.png'%}">
    </a>

    <!-- the username -->
    <h5>Carlos Ayala</h5>

    <!-- and role or location -->
    <h6>Director de Growth</h6>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    
    <p>Comunicólogo organizacional de profesión y mago desde hace 9 años. Obsesionado con el desarrollo humano y el pensamiento creativo ha formado parte de varios proyectos dentro del ecosistema emprendedor, mismo que le ha permitido aplicar sus conocimientos en distintas áreas y a diferentes niveles</p>

  </div>
</aside>

<aside class="profile-card6">

  <header>

    <!-- here’s the avatar -->
      <img src="{% static 'core/img/lalo.png'%}">
    </a>

    <!-- the username -->
    <h5>Eduardo Cadena</h5>

    <!-- and role or location -->
    <h6>Director de IT</h6>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    
    <p>Ingeniero Geofísico  pero desarrollador de software por vocación, también soy cofundador de “RCM” un proyecto de reaprovechamiento de residuos plásticos.
Chilango gamer, viajero biker, músico autodidacta y apasionado del baile. Pienso en la educación como herramienta de cambio social.

</p>

  </div>
</aside>

</section>

<footer class="indigo">

      <div class="foot">
  <ul>
    <li><a href="nosotros.html">Nosotros</a></li>
    <li><a href="">Makers</a></li>
    <li><a href="">Friends</a></li>
    <li><a href="">Contacto</a></li>
  </ul>
</div>
       <hr>

        <p class="foot2">APOSTAMOS POR LOS SUEÑOS DE LOS QUE CREEN EN SI MISMOS
COMPARTIENDO CONOCIMIENTO Y HERRAMIENTAS PARA DAR VIDA A SUS IDEAS
<br>
<br>
<spam>CREA HASTA QUE TODOS CREAN</p>
      
  <div class="footer-copyright">© 2020 Copyright:
    <a href=""> LINADI</a>
  </div>

</footer>
 
</body>
</html>