<!DOCTYPE html>
<html>
<head>
	<title>Política de privacidad - Making Friends</title>
		{% load static %}
	<link rel="stylesheet" href="{% static 'core/css/tyc.css' %}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>
<body>


<div class="titulo">
	<h1>POLÍTICA DE PRIVACIDAD</h1>
	<h2>MAKING FRIENDS</h2>
</div>
<P>Making Friends reconoce y privilegia la privacidad y confidencialidad de cualquier información que tenga o llegue a tener en su poder, ya sea de manera temporal o definitiva, incluyendo cualquier dato o información personal. Making Friends reconoce que toda la información personal que se encuentra en su poder ha sido proporcionada de manera libre y voluntaria por sus titulares y/o ha sido adquirida de forma legítima a través de medios legales idóneos bajo el principio de privacidad y confidencialidad de la información, con el objeto de garantizar la seguridad y protección de la misma y de sus titulares.
La información personal está constituida por datos que pueden ser utilizados exclusivamente para identificar o contactar a una sola persona. Se puede solicitar información personal en cualquier momento cuando se contacte con Making Friends. Making Friends puede compartir información personal y utilizarla en virtud de la presente Política de Privacidad. Así mismo podrá combinarla con otra información para proporcionar y mejorar sus productos, servicios, contenidos y publicidad.
De conformidad con la Ley de Protección de Datos Personales en Posesión de los Particulares, Making Friends, al procesar la información del cliente está obligado a observar los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad previstos en la Ley.
Se mantienen políticas, medidas de seguridad física, electrónica y de procedimientos para proteger la confidencialidad de la información que se obtiene sobre los clientes y aquellos que utilizan y visitan el sitio Web.
A continuación se incluyen algunos ejemplos de información personal que Making Friends puede recolectar y cómo la utiliza. Estos ejemplos son meramente ilustrativos y no deben considerarse como una descripción exhaustiva de sus prácticas de recopilación y divulgación de información.
</P>

<div class="subtitulo">¿QUÉ INFORMACIÓN SE RECOLECTA?</div>
<P>Cuando visitas el sitio www.makingfriends.com.mx en internet, y accedes a los Apartados denominados, “Mi Cuenta” y “Contacto”, podemos recopilar algunos datos personales tales como nombre, domicilio, número de teléfono, cuenta de correo electrónico, ID de Facebook, Twitter y/o Linkedin. En caso de que realices una compra en línea se podrán solicitar, entre los datos personales antes descritos, tu nombre, correo electrónico, los datos de tu tarjeta de crédito o débito, o bien, tu comprobante de pago, según sea la opción que hayas elegido como forma de pago de tu compra. Menores de Edad: Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar Datos Personales para ser incluidos en nuestras bases de datos. Sin embargo, pueden hacerlo a través de los padres o tutores.
</P>

<div class="subtitulo">CLIENTES REGISTRADOS</div>
<p>Para interactuar dentro del sitio, nuestros clientes registrados deberán utilizar un correo electrónico y una contraseña que los identificará. Los clientes registrados deberán mantener su contraseña bajo absoluta confidencialidad y, en ningún caso, deberán revelar o compartirla con otras personas.
El usuario será responsable de todos los actos que tengan lugar mediante el uso de su correo electrónico y contraseña.</p>

<div class="subtitulo">¿CÓMO UTILIZAMOS TU INFORMACIÓN PERSONAL?</div>
<ul>
La información personal que recolectamos será utilizada para:
<li>Proveer los servicios y/o productos solicitados por usted, notificarle sobre nuevos servicios o productos que tengan relación con los ya contratados o adquiridos, comunicarle sobre cambios en los mismos, confirmar y procesar las transacciones de venta, mantener contacto con usted, o responder sus preguntas de servicio al cliente.</li>
<li>La facturación de algunos servicios prestados si es el caso.</li>
<li>Mejorar y personalizar su experiencia de usuario, así como para comunicarnos con usted para fines de marketing y promoción de nuestros servicios, productos o eventos, elaborar estudios y programas que son necesarios para determinar hábitos, envío de publicidad, boletines informativos, postales, mensajes telefónicos o correos electrónicos personalizados, así como para mejorar la efectividad de nuestros sitios web y actividades empresariales.</li>
<li>Evaluaciones periódicas de calidad de nuestros productos y servicios, auditorías, análisis e investigación para el desarrollo y mejoramiento de nuestros servicios, productos, contenidos, comunicaciones y publicidad, y en general, para dar cumplimiento a las obligaciones que hemos contraído con usted.</li>
<li>Transferir sus datos a terceros para la contratación de determinados productos o servicios, los cuales única y necesariamente deberán ser autorizados previamente por el usuario y de acuerdo a sus necesidades. Making Friends se contactará con el usuario en caso de que se requiera aplicar esta cláusula, motivo de las actividades de Making Friends.</li>
</ul>

<div class="subtitulo">INFORMACIÓN EN LÍNEA Y RECOPILACIÓN DE DATOS.</div>
<p>Puede visitarnos en Internet sin necesidad de identificarse o revelar información personal, inclusive su dirección de correo electrónico. En este caso, nuestros servidores de red obtienen el nombre del dominio que utilizó para acceder a Internet, tal como «google.com» o «yahoo.com,» el sitio Web del que proviene y el que visite posteriormente. También podemos utilizar estos datos para seguir el rendimiento del sitio y facilitar su uso.
Podemos recopilar las estadísticas reunidas sobre nuestros clientes, ventas, patrones de tráfico y servicios y entregarlas a terceros. Sin embargo, cuando revelamos estas estadísticas a terceros, no incluimos datos personales de identificación, a menos que hubiera acordado recibir información personalizada. Además, en alguna porción de nuestro sitio Web usted podría enviarnos información personal para fines específicos, tales como para inscribirse en nuestro sitio web, tener contacto con nosotros, tener contacto con terceros de su interés, y para la compra de nuestros productos y/o servicios. La información recopilada sobre usted puede incluir su nombre, domicilio, teléfono, dirección de correo electrónico y contraseña.</p>

<div class="subtitulo">COMUNICACIONES POR CORREO ELECTRÓNICO</div>
<p>Ocasionalmente, podemos enviarle correos electrónicos con información que podría resultarle útil, inclusive información sobre nuestros productos y servicios.</p>

<div class="subtitulo">MÉTODOS DE SEGURIDAD QUE UTILIZAMOS EN NUESTRO SITIO WEB</div>
<p>Utilizamos herramientas de bloqueo, encriptación y autenticación para proteger la información que reunimos en nuestro sitio Web, tales como HTTPS. Sin embargo, es posible que los correos electrónicos fuera de nuestro sitio Web, no se encuentren protegidos.
No obstante lo anterior, Making Friends no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas. Making Friends, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medio</p>

<div class="subtitulo">REVELACIÓN DE INFORMACIÓN A PROVEEDORES DE SERVICIO</div>
<p>Podemos revelar información personal recopilada a terceros, tales como empresas y prestadores de servicios relacionados con los servicios que expresamente usted se haya mostrado interesado en contacto con Making Friends<br>
En todos los casos, requerimos a los proveedores de servicios a quienes revelamos información personal que cumplan con nuestra Política de Privacidad y utilicen la información solamente para los fines para los que han sido contratados. Revelamos información personal a estos proveedores con el fin de brindarle un mejor servicio, y de dar razón a las actividades de Making Friends.
</p>

<div class="subtitulo">PROHIBICIÓN DE REVELAR INFORMACIÓN PARA OTROS FINES</div>
<p>No compartiremos su información personal con compañías externas para fines que no sean los descritos anteriormente. Por ejemplo, no venderemos información personal a compañías externas que deseen ofrecerle sus productos y servicios sin previa autorización del usuario, así como de una relación previa comercial entre las compañías y Making Friends. Podemos ofrecerle productos o servicios en representación de otras compañías pero no revelarles sus datos personales sin previo consentimiento.</p>

<div class="subtitulo">SEGURIDAD DE LA INFORMACIÓN RECOPILADA</div>
<p>Mantenemos estrictas medidas aplicables a fin de proteger su información personal contra acceso no autorizado o indebido. El acceso a la información personal está restringido a los empleados y proveedores de servicios que deban conocer la misma con fines comerciales legítimos. Los empleados y proveedores de servicios que incumplan nuestra Política de privacidad estarán sujetos a las medidas disciplinarias y/o sanciones correspondientes.</p>

<div class="subtitulo">CAMBIOS A LA PRESENTE POLÍTICA DE PRIVACIDAD</div>
<p>Las modificaciones a la presente política estarán a su disposición en la página web www.makingfriends.com.mx. Recomendamos verificar esta Política de Privacidad en forma periódica para mantenerse informado de cualquier cambio.<br>
Nos comprometemos a proteger la información personal y utilizar o compartir la misma sólo para cumplir las obligaciones derivadas de esta política de privacidad. Al no oponerse activamente a los términos de esta Política de Privacidad presta su consentimiento a la distribución de información personal o los informes de consumo según lo descrito anteriormente.<br>
Las prácticas y políticas incluidas en esta Política de privacidad reemplazan todas las notificaciones o manifestaciones anteriores al respecto.
Esta Política de Privacidad se aplica solamente a las prácticas de recopilación, protección, utilización y transferencia de información revelada a Making Friends para los fines mencionados.
</p>

</body>
</html>