
@media screen and (max-width:1000px) {
  .block-1000-full > .column{
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media screen and (max-width:900px) {
  .block-900-full > .column {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}


/* ===================================================================
 * # base style overrides
 *
 * ------------------------------------------------------------------- */

body {
  background: #ffffff;
  font-family: "Montserrat", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8;
  color: #000000;
  position: relative;
  width: 100%;
  height: 100%;
}


/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */

a:hover,
a:focus,
a:active {
  color: #037c82;
}

a:hover,
a:active {
  outline: 0;
}

/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */
h1, h2, .h1, .h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2{
  margin-top: 6rem;
  margin-bottom: 1.6rem;
}

@media screen and (max-width:600px) {
  h1, .h1, h2, .h2{
    margin-top: 5.6rem;

  }

}
.about{
   background-color: #000000;
   
 
}



.card-sm{
  border-radius: 30px;
    width: 450px;
    height:150px;
    margin-top: 3rem;
    margin-left: 150px;
    flex-direction: column;
    justify-content: flex-end;
    
    
}

h1, .h1 {
  font-family: montserrat;
  font-size: 3.6rem;
  line-height: 1.222;
}

@media screen and (max-width:600px) {
  h1, .h1 {
    font-size: 3.3rem;
  }
  
}

h3,.h3 {
  font-family: montserrat;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 5rem;
  text-align: center;
  line-height: 1.2;

}

h4,.h4 {
  font-family: montserrat;
  font-size: 20px;
  font-weight: bold; 
  color: #DD2676;
  text-align: center;
}

p{
   font-family: montserrat;
   font-size: 1.5rem;
   color: #ffffff;
   text-align: center;
 }


h5 {
  font-family: montserrat;
  font-size: 4.5rem;
  font-weight: normal; 
  color: #ffffff;
  text-align: center;
  padding-top: 15rem;
}

h6{
   font-family: montserrat;
   font-size: 1.5rem;
   color: #ffffff;
   text-align: center;
   padding-top: 2rem;
   padding-left: 15rem;
   padding-right: 15rem;
 }




.maker, .friend {
  text-align: center;
  padding-bottom: 10rem;
}


.btn{
  border-color: #DE2276;
    color: #ffffff;
    width: 20rem;
    border-radius: 300px;
    background-color: transparent;
    margin: 4rem;
    cursor: pointer;
    line-height: 1.5em;
    font-size: 1.5rem;
    border-width: .3rem;
}

.btn:hover{
  background-color: #DE2276;
}

.btn_maker,
.btn_friends{
  border-color: #DE2276;
  align-items: center;
    color: #ffffff;
    width: 20rem;
    border-radius: 300px;
    background-color: transparent;
    margin: 4rem;
    cursor: pointer;
    line-height: 1.5em;
    font-size: 1.5rem;
    border-width: .3rem;
}

/* ===================================================================
 * # preloader
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121212;
  z-index: 500;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  display: inline-block;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#loader > div {
  content: "";
  background: #ffffff;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader > div:nth-of-type(1) {
  left: 15px;
}

#loader > div:nth-of-type(3) {
  left: -15px;
}

/* dots jump */
.dots-jump > div {
  -webkit-animation: dots-jump 1.2s infinite ease;
  animation: dots-jump 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-jump > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-jump > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

@keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

/* dots fade */
.dots-fade > div {
  -webkit-animation: dots-fade 1.6s infinite ease;
  animation: dots-fade 1.6s infinite ease;
  animation-delay: 0.4s;
}

.dots-fade > div:nth-of-type(1) {
  animation-delay: 0.8s;
}

.dots-fade > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

@keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

/* dots pulse */
.dots-pulse > div {
  -webkit-animation: dots-pulse 1.2s infinite ease;
  animation: dots-pulse 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-pulse > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-pulse > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}


::-webkit-input-placeholder {

  /* WebKit, Blink, Edge */
  color: #8c8c8c;
}

:-moz-placeholder {

  /* Mozilla Firefox 4 to 18 */
  color: #8c8c8c;
  opacity: 1;
}

::-moz-placeholder {

  /* Mozilla Firefox 19+ */
  color: #8c8c8c;
  opacity: 1;
}

:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  color: #8c8c8c;
}

::-ms-input-placeholder {

  /* Microsoft Edge */
  color: #8c8c8c;
}

::placeholder {

  /* Most modern browsers support this now. */
  color: #8c8c8c;
}

.placeholder {
  color: #8c8c8c !important;
}

 
.wide {
  max-width: 1400px;
}

.wider {
  max-width: 1600px;
}

.narrow {
  max-width: 930px;
}

.subhead {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #fb8b23;
  margin-top: 0;
  margin-bottom: .4rem;
  margin-left: 4px;
}

.display-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.222;
  margin-top: 0;
  margin-bottom: 2.8rem;
}


.s-header {
  z-index: 100;
  height: 7.2rem;
  width: 100%;
  position: absolute;
  top: 2.8rem;
  left: 0;
}

/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
.header-logo {
  z-index: 102;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: all .3s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  left: 11rem;
  top: 50%;
}

.header-logo::before {

  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 9rem;
  position: absolute;
  top: 50%;
  left: -11rem;
}

.header-logo{
  display: block;
  padding: 0;
  outline: 0;
  border: none;
}

.header-logo img {
  width: 15rem;
  margin-top: 5rem;
}

/* -------------------------------------------------------------------
 * ## main navigation
 * ------------------------------------------------------------------- */
.header-nav-wrap {
  z-index: 101;
  position: absolute;
  right: 4.4rem;
  top: 1.2rem;
}

.header-nav {
  list-style: none;
  font-family: "Montserrat";
  font-size: .9rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  letter-spacing: .35rem;
}

.header-nav a {
  color: rgba(255, 255, 255, 0.8);
}

.header-nav a:hover,
.header-nav a:focus {
  color: #DE2276;
}

.header-nav li {
  display: inline-block;
  margin: 0 .8rem;
}

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  z-index: 102;
  display: none;
  height: 4.2rem;
  width: 4.2rem;
  line-height: 4.2rem;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all .3s;
  position: absolute;
  right: 32px;
  top: 1rem;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  color: #ffffff;
}

.header-menu-toggle span {
  display: block;
  width: 2.4rem;
  height: 2px;
  background-color: #ffffff;
  transition: all .5s;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  left: .9rem;
  right: auto;
  bottom: auto;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: all .5s;
  position: absolute;
  left: 0;
}

.header-menu-toggle span::before {
  top: -.9rem;
}

.header-menu-toggle span::after {
  bottom: -.9rem;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  transition: all .1s;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media screen and (max-width:1400px) {
  .header-logo {
    left: 9.8rem;
  }

  .header-logo::before {
    width: 7.8rem;
    left: -9.8rem;
  }

}

@media screen and (max-width:1200px) {
  .header-nav li {
    margin: 0 .6rem;
  }

}

@media screen and (max-width:1000px) {
  .header-logo {
    left: 8.8rem;
  }

  .header-logo::before {
    width: 6.8rem;
    left: -8.8rem;
  }

}

@media screen and (max-width:800px) {
  .header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    background-color: black;
    padding: 14rem 4.4rem 6.4rem;
    position: absolute;
    top: -2.8rem;
    left: 0;
  }

  .header-nav-wrap .header-nav {
    display: block;
    height: auto;
    font-size: 10px;
    margin: 0 0 4rem 0;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }

  .header-nav-wrap .header-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }

  .header-nav-wrap .header-nav li a {
    padding: 18px 0;
    line-height: 20px;
    display: block;
  }

  .header-menu-toggle {
    display: block;
  }

}

@media screen and (max-width:600px) {
  .header-logo {
    left: 4.8rem;
  }

  .header-logo::before {
    width: 3.6rem;
    left: -4.8rem;
  }

}

/* -------------------------------------------------------------------
 * make sure menu is visible on larger screens
 * ------------------------------------------------------------------- */
@media only screen and (min-width:801px) {
  .header-nav-wrap {
    display: block !important;
  }

}


/* ===================================================================
 * # hero
 *
 * ------------------------------------------------------------------- */
.s-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.s-hero::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  opacity: .7;
}

.no-js .s-hero {
  background: #000000;
}

/* -------------------------------------------------------------------
 * ## hero left bar
 * ------------------------------------------------------------------- */
.hero-left-bar {
  height: 100%;
  width: 8rem;
  background-color: #000000;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/* -------------------------------------------------------------------
 * ## hero content
 * ------------------------------------------------------------------- */
.hero-content {
  max-width: 1400px;
  padding:18vh;
  padding-bottom: 18vh;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  margin-top: 7rem;
}

.hero-content__text {
  position: relative;
  text-align: center;
}

.hero-content h1 {
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 1.263;
  letter-spacing: 0;
  color: #ffffff;
  position: relative;
  margin-right: 6rem;
  margin-left: 6rem;

  
}

.hero-content h1::before {
  display: block;
  content: "";
  height: 2px;
  width: 10rem;
  position: absolute;
  top: 0;
  left: .8rem;
}


/* ------------------------------------------------------------------- 
 * ## hero social
 * ------------------------------------------------------------------- */
.hero-social {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: .9rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  color: #ffffff;
  margin: 0;
  position: absolute;
  bottom: 4.8rem;
  left: 0px;
  -webkit-transform: rotate(-90deg) translate3d(0, 6.2rem, 0);
  transform: rotate(-90deg) translate3d(0, 6.2rem, 0);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.hero-social a {
  color: rgba(255, 255, 255, 0.3);
  transition: all .5s;
}

.hero-social a:hover {
  color: #ffffff;
}

.hero-social__title {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: 0;
  padding-right: 4rem;
  margin-right: .8rem;
  position: relative;
}

.hero-social__title::after {
  display: block;
  content: "";
  width: 2.4rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 50%;
}

.hero-social li {
  display: inline-block;
  margin-right: 1.2rem;
  position: relative;
}

.hero-social li a {
  display: block;
}

.hero-social li:last-child {
  margin-right: 0;
}

/* ------------------------------------------------------------------- 
 * ## hero scroll
 * ------------------------------------------------------------------- */
.hero-scroll {
  position: absolute;
  right: 6rem;
  bottom: 0;
  -webkit-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.hero-scroll .scroll-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: left;
  color: #ffffff;
  padding-left: 9rem;
  position: relative;
}


.hero-scroll::before {
  display: block;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 74px;
  height: 1px;
  position: absolute;
  left: 0;
  top: calc(50% + 2px);
}
 
 .partners{
list-style: outside none none;
display: flex;
margin-top: 5rem;
margin-bottom: 15rem;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
 }

a img{
  padding: 2rem;
}



.marca{
  text-align: center;
  color: #ffffff;
  background-color: #323232;
}

.footer_end{
  list-style: none;
    font-size: 1rem;
    line-height: 4.8rem;
    text-align: center;
    color: #ffffff;
}

ul li {
  display: inline-block;
  margin: 8px 16px;
}