body{
font-family: montserrat
}


#menu{
  position: absolute;
  width: 200px;
  height: 555px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
  transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul{
  transform: none;
}
#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  padding-left: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: none;
  color: #DE2276;
  transition: color 0.3s ease;
}

#menuToggle a:hover{
  color: #000000;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 30px;
  cursor: pointer;
    opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #DE2276;
  border-radius: 3px;
  z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #DE2276;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#top {
  text-align: center;
  margin-top: 3rem;
}

.profile-photo{
  border-radius: 50px;
  width: 140px
}

h1{
  color:#DE2276;
  font-size: 2rem;
  margin: 0;
}

h2{
  color: #000000;
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: .5rem;
  padding-right: 35rem;
  padding-left: 35rem;
}

.btn{

  border-color: #DE2276;
  width: 8rem;
  border-radius: 300px;
  border-width:.2rem; 
  background: transparent;

}

h3{
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5rem;
}

h4{
  font-family: montserrat;
  font-size: 1rem;
  line-height: 1.222;
  text-align:center;
  font-weight: bold;
  margin-top: 2rem;
  color: #000000;
}

.card-area {
  align-items: center;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}



/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  padding-top: 5rem;
}


/* Front side's top section */
.card-front__tp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .75rem;
  border-style: solid;
  border-width: 5px;
  border-color: #DE2276;
  border-radius: 30px;
  height:150px;
  width: 150px;
  cursor: pointer
}

a{
    cursor: pointer;
    text-decoration: none;
}

.wrapper {
  margin: 5% auto;
  display: block;
  width: 96%;
  height: 100%;
  padding: 0;
}

.wrapper:before {
  content: "";
  display: table;
}

.wrapper_inner {
  padding: 0.2em;
  margin: 0;
}

.gallery {
}

.gallery_item {
  float: left;
  width: 24.59%;
  display: inline-block;
  margin: 0 auto;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #FFF;
  border: 1px solid #F3F0F0;
  position:relative;
  -webkit-box-shadow: 0 1px 2px #AFAFAF;
  -moz-box-shadow: 0 1px 2px #AFAFAF;
  box-shadow: 0 1px 2px #AFAFAF;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.gallery_item_preview {
  background: #fff;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_preview a {
  position: relative;
  display: inline-block;
  padding: 0;
  color: #333;
  text-decoration: none;
  overflow: hidden;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_preview a:hover {
  color: #777;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_item_preview a svg.gallery_top{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:50px;
  stroke:none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_item_preview a:hover  svg.gallery_top{
  top:-10em;
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_hide_top{
  top:-10em !important;
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_preview a:before {
  content: "Click to view";
  position: absolute;
  top: 0.5em;
  left: -30em;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.99);
  color: #F57171;
  padding: 0.56em 1em;

  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.gallery_item_preview a:hover:before {
  left: 0.5em;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.gallery_item_preview a h3 {
  font-family: 'Leckerli One', cursive;
}

.gallery_item_preview a img {
  display: block;
  width: 100%;
  height: 150px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery_item_full {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  overflow: hidden;
}

.gallery_item_full img {
  display: block;
  width: 100%;
}

.box {
  margin: auto;
  background: #FFF;
  padding: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 50%;
  text-align: left;
  border: 1px solid #DADADA;
}

.box h3 {
  font-family: 'Leckerli One', cursive;
  color: #F88484;
}

.cl {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #777;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
}