body{
    font-family: montserrat;
    margin: 0rem;
    }
    
    .nosotros {
     
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      padding:4rem;
      background-size: 100px 100px;
      
    }
    
    div>span{
     
      top: 0;
      left: 0;
      
      
    }
    
    div :nth-child(2){
      color: #DE2276;
      clip: rect(0 200px 40px 45px);
    }
    div :nth-child(1){
      color: #DE2276;
      clip: rect(0 45px 40px 0);
    }
    
    h1{
      color:#000000;
      text-align: center;
      font-weight: normal;
      padding-top: 2rem; 
      padding-left: 13rem;
      padding-right: 13rem;
    }
    
    h2{
      color:#000000;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 2rem;
      font-size: 3rem;
      font-weight: bold; 
       padding-left: 20rem;
      padding-right: 20rem;
    
    }
    
    h3 {
      font-size: 2rem;
      padding: 1rem;
      text-align:center;
      font-weight: bold;
      color: #DE2276;
      margin:0rem;
    
    }
    
    h4{
      color: #ffffff;
      font-weight: normal;
    
    }
    
    
    .info {
      text-align: center;
      padding:100px 0;
    }
    
    .plit-screen-wrap {
      display: flex;
      flex-wrap:wrap;

    }
    .flex-child {
      flex:1;
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction:column;
      /* max-width: 759px; */
      background-color: black;
      padding-bottom: 6rem;
    }
    .flex-child h1 {
      font-size: 42px;
      margin-top: 0;
      margin-bottom: -20px;
    }
    
    .btn{
      border-color: #DE2276;
        color: #ffffff;
        width: 10rem;
        border-radius: 300px;
        background-color: transparent;
        cursor: pointer;
        line-height: 1.5em;
        font-size: 1rem;
        border-width: .2rem;
    }
    .flex-child .img-wrap {
      
      border-radius:100%;
    }
    .flex-child .img-wrap img {
      
      border-radius:100%;
    }
    .child-2 {
      background: black;
      color:#fff;
    }
    .designation{
      text-align: center;
      padding-left: 15rem;
      padding-right: 15rem;
      padding-bottom: 1.5rem;
      margin: 0rem;
    }
    .descubre{
      font-size: 2rem;
      color: #ffffff;
      padding: 2rem;
      text-align:center;
      font-weight: bold;
    }
    
    .equipo{
      font-size: 2rem;
      padding: 2rem;
      text-align:center;
      font-weight: bold;
    }
    
    .container{
      display:flex;    
      align-items:initial;
      padding: 1rem;
    }
    
    header img {
      border-radius: 100%;
      margin: 20px auto;
      display: block;
      width: 200px;
    }
    
    
    aside {
      border-radius: 50%;
      margin: 0 auto;
      display: block;
      height: 250px;
      width: 250px;
      background-size: cover;
      overflow: hidden;
      transition: all ease 0.3s;
    }
    
    aside:hover  {
      border-radius: 32px;
      height: 550px;
      width: 350px;
    }
    
    header {
      text-align: center;
    }
    
    header h5 {
      position: relative;
      text-align: center;
      color: #fff;
      font-size: 25px;
      display: inline-block;
      text-decoration:none;
      padding-bottom: 0;
    }
    
    aside:hover header h5 {
      margin-top: 0px;
      text-decoration:none;
    }
    
    header h6 {
      text-align: center;
      color: #DE2276;
      font-size: 17px;
      font-weight: bold;
      line-height: 0px;
      margin: 0;
    }
    
    .profile-bio {
      margin-top: 20px;
      padding: 1px 20px 10px 20px !important;
      color: #fff;
      font-size: 14px;
    }
    
    aside:hover .profile-bio {
      opacity: 1;
    }
    
    .profile-bio p:first-child {
      text-align: center;
      font-size: 16px;
    }
    
    .profile-card{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)),
        url(https://images.unsplash.com/photo-1510100831744-b8d7fea7ca2e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    }
    
    .profile-card1{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)),
        url(https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    }
    
    .profile-card2{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)),
        url(https://images.unsplash.com/photo-1570729892175-6ebda965e864?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=514&q=80);
    }
    
    .profile-card3{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)),
        url(https://images.unsplash.com/photo-1587449156852-c191c00da9b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA0fHxuZW9ufGVufDB8fDB8&auto=format&fit=crop&w=500&q=60);
    }
    
    .profile-card4{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)),
        url(https://images.unsplash.com/photo-1606228643612-2f6071e04dc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
    }
    
    .profile-card6{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)),
        url(https://images.unsplash.com/photo-1542047078441-229be3aa1f12?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80);
    }
    
    
    .foot,.indigo{
      text-align: center;
      background-color: #000000;
      font-size: 2rem;
      padding-top: 1rem;
    }
    
    .foot2{
      justify-content: center;
      margin-left: 30rem;
      margin-right: 30rem;
      margin-top: 1rem;
      color: #ffffff;
      font-size: 1rem;
      font-weight: normal;
    }
    
    hr{
      width: 30%;
    }
    
    
    a{
      color: #ffffff;
      font-size: 1rem;
      text-decoration: none;
    }
    
    a:hover{
      color:#DE2276;
    }
    
    ul {
      display: inline-grid;
      grid-auto-flow: row;
      grid-gap: 24px;
      margin: auto;
      justify-content: center;
      list-style-type: none;
    }
    
    @media (min-width: 500px) {
      ul {
        grid-auto-flow: column;
      }
    }
    
    .footer-copyright{
      background-color:#323232; 
      text-align:center;
      color: #ffffff;
      font-size: 1rem;
      margin: 0rem;
    }