body{
font-family: montserrat;
margin: 0rem;
}

header {
  background: #1a1d25;
  padding: 10px 0;
  background-color: #000000;
}
header .logo {
  max-width: 90px;
}


.jumbotron {
  width: 100%;
  min-height: 450px;
  background: url('https://images.unsplash.com/photo-1503792574895-6074f691cc6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1333&q=80') center center;
  background-size: cover;
  opacity: 1;
  display: table;
  width: 100%;
  position: relative;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  
}
.jumbotron h1 {
  font-size: 55px;
  color: #DE2276;
  font-weight: 700;
}
.jumbotron h2 {
  font-size: 18px;
  margin: 0;
}

#black {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: rgba(26,29,37,0.8);
}


h2{
  color:#000000;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 1rem;

}

h3 {
  color:#000000;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal; 
  padding-left: 30rem;
  padding-right: 30rem;
  padding-bottom: 5rem;

}


.equipo{
  padding-top: 1rem;
  
}

section .container{
  display:flex;    
  align-items:initial;
  padding: 1rem;
  text-align: center;
  padding-top: 8rem;
}

.card img {
  border-radius: 100%;
  margin: 20px auto;
  display: block;
  width: 200px;
}


aside {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 250px;
  background-size: cover;
  overflow: hidden;
  transition: all ease 0.3s;
}

aside:hover  {
  border-radius: 32px;
  height: 550px;
  width: 350px;
}


section h5 {
  position: relative;
  color: #fff;
  font-size: 20px;
  text-decoration:none;
  padding-bottom: 1rem;
  padding-top: 1rem;

}


section h6 {
  text-align: center;
  color: #DE2276;
  font-size: 17px;
  font-weight: bold;
  line-height: 0px;
  margin: 0;

}


.profile-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  color: #ffffff;
}

aside:hover .profile-bio {
  opacity: 1;
}

.profile-bio {
  text-align: center;
  font-size: 16px
  color:#ffffff;
}

.profile-card{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1510100831744-b8d7fea7ca2e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.profile-card1{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
}

.profile-card2{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1570729892175-6ebda965e864?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=514&q=80);
}

.profile-card3{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1587449156852-c191c00da9b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA0fHxuZW9ufGVufDB8fDB8&auto=format&fit=crop&w=500&q=60);
}

.profile-card4{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1606228643612-2f6071e04dc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
}

.profile-card6{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1542047078441-229be3aa1f12?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80);
}


.marca{
  text-align: center;
  color: #ffffff;
  background-color: #323232;
  padding-top: 1rem;
}

.footer_end{
  list-style: none;
    font-size: 1rem;
    line-height: 4.8rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

ul li {
  display: inline-block;
  margin: 8px 16px;
  text-decoration: none;
}

li a{
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}
li a:hover{
  text-decoration: none;
  color:#ffffff;
}