{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Financiamiento colectivo</title>
	<link rel="stylesheet" href="{% static 'core/css/financiamiento.css' %}">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>

<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="../../../profiles/templates/profiles/miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="../../../profiles/templates/profiles/nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="#"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
  <div class="logo_friend">
  	<a href="MC.html">            
  	<img clas="logo"src="{% static 'core/img/friends/mc1.png' %}" style="width: 8rem;">
  	</a>
  </div>
</nav>
<body>
<section class="titulo">
	<h1>¿Qué es el financiamiento colectivo?</h1>
	<div class="descipción">Una alcancía en línea te da el control, la seguridad, la transparencia y la credibilidad que necesitas para tu campaña de recolección de fondos</div>
	</section>

   <section class="caracteristicas">
					
          <div class="werte col-lg-4 col-md-4 col-sm-4 ff-r-c">
            1 HR<br/>
            Duración
          </div>	

          <div class="werte col-lg-4 col-md-4 col-sm-4 ff-r-c">
            3<br/>
            Temas
          </div>

          <div class="werte col-lg-4 col-md-4 col-sm-4 ff-r-c">
            2<br/>
            Actividades
          </div>

          <div class="werte col-lg-4 col-md-4 col-sm-4 ff-r-c">
            Con<br/>
            Certificado
          </div>
   <div class="aprender"> 
   	<a href="https://wa.me/525545897787?text=Hola%20MiCochinito%20...">
                    <button class="btn">Empezar</button>
                </a></div>				
</section>

<section class="indice_izquerda">
	<div class="contenido"> Contenido del curso</div>
	<div class="tema">
		<h2>Introducción</h2>
	</div>
	<div class="subtitulo">	
		<h3>¿Qué es el financiamiento colectivo?</h3>
	</div>
	<div class="subtitulo">	
		<h3>Sobre MiCochinito.com</h3>
	</div>

    <div class="tema">
		<h2>Planeación</h2>
	</div>
	<div class="subtitulo">	
		<h3>¿Qué es una campaña y que necesito?</h3>
	</div>
	<div class="tema">
		<h2>Creación de campaña</h2>
	</div>
	<div class="subtitulo">	
		<h3>Primeros pasos</h3>
	</div>
	<div class="subtitulo">	
		<h3>Cuéntanos tu historia</h3>
	</div>
	<div class="subtitulo">	
		<h3>Define cuánto dinero necesitas</h3>
	</div>
	<div class="subtitulo">	
		<h3>Crea tus recompensas</h3>
	</div>
	<div class="subtitulo">	
		<h3>Planea tu calendario de actividades</h3>
	</div>
	<div class="subtitulo">	
		<h3>Difusión de mi campaña</h3>
	</div>
	<div class="tema">
		<h2>Lanza tu campaña</h2>
	</div>
	<div class="subtitulo">	
		<h3>3..2..1 Empieza tu campaña</h3>
	</div>

</section>		
	
<section class="video_derecha">
	 <iframe width="500" height="400" src="https://www.youtube.com/embed/2ZhKH-b79Mo?controls=0">
</iframe>
<div > 
   	<a class="aprender_bajo" href="https://wa.me/525545897787?text=Hola%20MiCochinito%20...">
                    <button class="btn">Empezar</button>
                </a></div>				
</section>
		
	
</section>



</body>
</html>