{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>MiCochinito - Making Friends</title>
	<link rel="stylesheet" href="{% static 'core/css/mc.css'%}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
  <script src="js/faqs.js"></script>
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicon16.png'%}">
</head>
<body>


<section class="portada" style="background-image: url(images/banderas.jpg">
                
                    
                    <div>
                        <img src="{% static 'core/img/friends/mc1.png' %}" height="170" width="350" style="margin-top: 2rem;"> <br>
                    <a href="https://www.micochinito.com/">
                    <button class="btn">Visitanos</button>
                </a>
                <a href="https://wa.me/525545897787?text=Hola%20MiCochinito%20...">
                    <button class="btn">Contactános</button>
                </a>
                 </div>
</section>
<section class="container" style="background-color:#000000" >   

             <div class="descrip">
              
             Utilizamos el financiamiento colectivo, o crowdfunding, como instrumento base para que diversas iniciativas puedan conseguir el capital que necesitan a partir de aportaciones de la comunidad. A cambio de estas aportaciones, los padrinos reciben recompensas que fomentan la legitimidad de los proyectos. 
</div>



            <h1>Nuestro contenido</h1>
            </section>
<section class="cursos">
<div class="card">
  <a href="{% url 'financiamiento'%}" >
                    
                    
  <div class="image">
    <img src="https://images.unsplash.com/photo-1521897258701-21e2a01f5e8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
  </div></a>
  <div class="content">
    <h4>¿Qué es financiamiento colectivo?</h4>
    <div class="description">
      Es un espacio digital para buscar y conseguir recursos monetarios a partir de difundir y convencer a muchas personas para financiar una idea
    </div>
  </div>
</div>


<div class="card">
  <div class="image">
    <img src="https://images.unsplash.com/photo-1561837581-abd854e0ee22?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80" alt="">
  </div>
  <div class="content">
    <h4>¿Qué es una alcancía en línea?</h4>
    <div class="description">
      Te da el control, la seguridad, la transparencia y la credibilidad que necesitas para tu campaña de recolección de fondos. 
    </div>
  </div>
  
</div>
</section>    

<section class="numeralia" style="background-color:#ffffff" >
  <div class="wrapper3">
    <div class="wrapper2">
      <div class="wrapper1">
        <div class="col1">
          <h1>505</h1>
          <h3>COCHINITOS</h3>
        </div>
        <div class="col2">
          <h1>4,574</h1>
          <h3>MADRINAS Y <br> PADRINOS</h3>         
        </div>
        <div class="col3">
          <h1>3,947,526</h1>
          <h3>PESOS <br>RECAUDADOS</h3>
        </div>
      </div>
    </div>
  </div>


<section class="preguntas" style="background-color:#ffffff" >
<button onclick="funtion()" style="background-color: transparent; border: none; margin-bottom:none" ><h5>Preguntas Frecuentes</h5></button> 
<div id="faqs">
  <h2>Qué es una alcancía en línea?</h2>
  <h6>Es un espacio digital para buscar y conseguir recursos monetarios a partir de difundir y convencer a muchas personas para financiar una idea, emprendimiento o causa a cambio de algo significativo por las aportaciones recibidas.</h6>

  <h2>¿Cómo funciona?</h2>
  <h6>Una alcancía en línea te da el control, la seguridad, la transparencia y la credibilidad que necesitas para tu campaña de recolección de fondos. Pueden ser todo tipo de proyectos: tecnológicos, sociales, artísticos, viajes; o, básicamente cualquier idea que quieras volver realidad. Trabajar bajo este esquema te ayuda porque no te endeudas, ya que el dinero recaudado será un donativo. También te sirve para hacer pruebas de mercado, validar tu proyecto, ser transparente y sobre todo generar popularidad.</h6>

  <h2>¿Cuánto cobran?</h2>
  <h6>No te cobramos absolutamente nada, para ti la oportunidad es clara; puedes subir tu proyecto y pueden pasar dos cosas; recaudar el monto que te propones en el tiempo que definiste y arrancar con tu idea o no recaudar y entonces nosotros regresamos las donaciones originales a sus propietarios, en cualquiera de los escenarios no habras incurrido en ningun cargo por parte nuestro. Lo que sí es que a tus padrinos (donantes) se les hace un cargo adicional por cada transacción del 5% al 20% (ellos eligen).</h6>
</div>
<div>
                     <a href="{% url 'financiamiento'%}" >
                    <button class="btn">Empezar a aprender</button> 
                    </a>
</div>
  <footer class="marca">
  <h7> CREA HASTA QUE TODOS CREAN</h7>
  <ul class="footer_end">
  <li class="glitch-item">
    <a>Términos y condiciones</a>
  </li>
  <li class="glitch-item">
    <a>Privacidad</a>
  </li>
  <li class="glitch-item">
    <a>Nosotros</a>
  </li>
  <li class="glitch-item">
    <a>Contacto</a>
  </li>
</footer>
  
    
</section>
</body>
</html>