
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<link rel="stylesheet" href="{% static 'core/vendor/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'core/css/registro.css'%}">

    <!-- script
    ================================================== -->
    <script src="{% static 'core/js/modernizr.js' %}%"></script>
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>¡Bienvenido!</div>
      {% if 'registrer' in request.GET %}
      <p style="color:green;"> Usuario registrado correctamente </p>
      {% endif %}
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Iniciar sesión</h3>
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" class='input-line full-width' name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de Usuario"/>
          </p>
          <p>
            <input type="password" class='input-line full-width' name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>
          <p><input type="submit" class='ghost-round full-width' value="Acceder"></p>
        </form>
      
      <div><button class='ghost-round full-width' ><a href="{% url 'signup' %}" style="color: white;">Crear Cuenta</a></button></div>
    </a>
    </div>
  </div>
</div>
{% endblock %}