<!DOCTYPE html>
<html>
<head>
	<title>Making Friends</title>
	<link rel="stylesheet" href="css/login.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'><link rel="stylesheet" href="css/you.css">
</head>

<body>
<!-- partial:index.partial.html -->
<div class="container">
  <img src="images/Logo3.png" alt="Homepage" height="110" width="150">
  <div id="title">
    <h2>Crear Cuenta</h2>    
  </div>
  <div class="form col-md-12">
      <form>    
        <h3>Tu Nombre(s)</h3>
        <input type="text" class="col-md-6" >
        <h3>Correo electronico</h3>
        <input type="text" class="col-md-6" >
        <h3>Contraseña</h3>
        <input type="password" class="col-md-6" >
        <h3>Confirma tu contraseña</h3>
        <input type="password" class="col-md-6" ><br>
        <a href="perfil.html">

          <label>Acepto la Política de privacidad y Términos de uso de Making Friends</label>
        <input type="checkbox" class="inch"/> <br>

        <input type="button"  class="col-md-6" value="Crear Cuenta">   
        </a>  
      </form>
    </div>
  </div>
<!-- partial -->
  
</body>
</html>