{% load static %}
{% block title %}{% endblock %}
<!DOCTYPE html>
<html>
<head>
	<title>Perfil</title>
	<link rel="stylesheet" href="{% static 'core/css/perfil.css' %}">
</head>

<body>

  <nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="../../../profiles/templates/profiles/miperfil.html"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="../../../profiles/templates/profiles/nuevoproyecto.html"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="{% url 'logout' %}"><li>Cerrar sesión</li></a>
      
    </ul>
  </div>
</nav>

   <header>¡Bienvenid@ {{user.get_username}} !</header>
   <h1>Necesitamos conocerte para brindarte la mejor experiencia </h1>
   <h2>¿EMPEZAMOS?</h2>

<section class="card-area" >   
        <section class="card-section">                 
                         <div class="card-front">
                             <div class="card-front__tp">   
                             <a href="{% url 'profile' %}">                                                                     
                               <h2 class="card-front__heading" align="text-center">
                                Crea tu perfil</h2>
                              </a>
                                </div>
                                 </section>
      
        <section class="card-section">
                <div class="card-front">
                   <div class="card-front__tp">
                                <a href="{% url 'preferencias' %}">                              
                               <h2 class="card-front__heading" align="text-center">
                                Cuentanos sobre ti
                                  </h2>
                                  </a>
                                </div>
                               </section>

  
     
        <section class="card-section">
                         <div class="card-front">
                             <div class="card-front__tp">
                            <a href="{% url 'market' %}">
                               <h2 class="card-front__heading" align="text-center">
                                Empieza a explorar
                                  </h2>
                                </a>
                                </div>
                              
  
</body>
</html>