{% load static %}
{% block title %}{% endblock %}
<html>
<head>
  <title>Perfil</title>
  {% load static %}
	<link rel="stylesheet" href="{% static 'core/css/perfil.css' %}">
</head>
<body>
<nav role="navigation">
  <div id="menuToggle">
<input type="checkbox" />
<span></span>
    <span></span>
    <span></span>
<ul id="menu">
      <a href="#"><li>Makerplace</li></a>
      <a href="#"><li>Perfil</li></a>
      <a href="#"><li>Mis proyectos</li></a>
      <a href="#"><li>Nuevo proyecto</li></a>
      <a href="#"><li>Soporte</li></a>
      <a href="#"><li>Ajustes</li></a>
      <a href="{% url 'logout' %}"><li>Cerras sesión</li></a>
      
    </ul>
  </div>
</nav>

   <section class="perfil">
   <header>¡Bienvenido Mogu!</header>
   <h1>Necesitamos conocerte para brindarte la mejor experiencia </h1>
   <h2>¿EMPEZAMOS?</h2>
</section>
<section class="card-area" style="background-color:#000000" >   
      <!-- Card: City -->
        <section class="card-section">
            <div class="card">                  
                         <div class="card-front">
                             <div class="card-front__tp card-front__tp--city">   
                             <a href="{% url 'profile' %}">                                                                     
                               <h2 class="card-front__heading" align="text-center">
                                Edita tu perfil</h2>
                              </a>
                                </div>
                                 </section>
      
        <section class="card-section">
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                         <div class="card-front">
                             <div class="card-front__tp card-front__tp--city">
                              <a href="{% url 'preferencias' %}">                               
                               <h2 class="card-front__heading" align="text-center">
                                Cuentanos sobre ti
                                  </h2>
                                  </a>
                                </div>
                               </section>

  
     
        <section class="card-section">
            <div class="card">
                         <div class="card-front">
                             <div class="card-front__tp card-front__tp--city">
                            <a href="{% url 'market' %}">
                               <h2 class="card-front__heading" align="text-center">
                                Empieza a explorar
                                  </h2>
                                </a>
                                </div>
</section>

</body>
</html>