<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Editar perfil</title>
  {% load static %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
<link rel="stylesheet" href="{% static 'core/css/editarperfil.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div id="title">
    <h2>Editar mi perfil</h2>    
  </div>
  <div class="form col-md-12">
			<form action="" method="post">{% csrf_token %}		
        <h3>Nombre(s)</h3>
				{{ form.nombre }}
        <h3>Apellidos</h3>
				{{ form.apellido }}
        <h3>Fecha de nacimiento</h3>
				{{ form.fecha }}
				<h3>Género</h3>
        {{ form.genero }}
        <h3>Dirección</h3>
        {{ form.direcccion }}
        <a href="preferencias.html">
				<input type="submit" class="col-md-6" value="Seguir">		
        </a>	
			</form>
		</div>
	</div>
<!-- partial -->
  
</body>
</html>
