<!DOCTYPE html>
<html>
<head>
	<title>Making Friends</title>
	<link rel="stylesheet" href="css/registro.css">
</head>
<body>
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Accede a tu cuenta</div>
      <div class='input-fields'>
        <input type='email' placeholder='Email' class='input-line full-width'></input>
        <input type='password' placeholder='Contraseña' class='input-line full-width'></input>
      </div>
      <div class='spacing'> continua con <span class='facebook'>Facebook</span></div>
      <div class='spacing'> continua con <span class='google'>Google</span></div>
      <a href="marketplace.html">
      <div><button class='ghost-round full-width'>Acceder</button></div>
    </a>
    </div>
  </div>
</div>
</body>
</html>