
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Making Friends</title>
	<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
  <link rel="stylesheet" href="{% static 'core/css/editarperfil.css' %}">
</head>

<div class="container">
  <div id="title">
    <h2>Crear Cuenta</h2>    
  </div>
  <div class="form col-md-12">
      <form action="" method="post">{% csrf_token %}
        <h3>Nombre de Usuario</h3>
        {{form.username}}
        {{form.username.errors}}
        <h3>Correo electronico</h3>
        {{form.email}} 
        {{form.email.errors}}  
         <h3>Contraseña</h3>   
        {{form.password1}}
        {{form.password1.errors}} 
        <h3>Confirma tu contraseña</h3>
        {{form.password2}}
        {{form.password2.errors}}
      </div>
      <label>Acepto la Política de privacidad y Términos de uso de Making Friends</label>
        <input type="checkbox" class="inch"/> <br>
     <a href="{% url 'login'%}"> 
        <input type="button"  class="col-md-6" value="Ya tengo una">  
        </a>
      <div><input type="submit" class="col-md-6" value="Crear Cuenta" ></div>
    </a>
    </form>
    </div>
  </div>
<!-- partial -->
  
</body>
</html>

{% endblock %}