
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>

<link rel="stylesheet" href="{% static 'core/vendor/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'core/css/registro.css'%}">

    <!-- script
    ================================================== -->
    <script src="{% static 'core/js/modernizr.js' %}%"></script>
<!-- Inicio Menu -->
<div id="header">

  <div id="imagen">
    <div id="logo">
      <a href="">
        <img src="{% static 'core/img/Logo B1.png'%}" alt="#">
      </a>
    </div>
  </div>

  <div id="menu">
    <div class="contenedores">
      <a href="{% url 'nosotros' %}">Nosotros</a>
    </div>

    <div class="contenedores"> 
      <a href="{% url 'nosotros' %}">Makers</a>
    </div>

    <div class="contenedores">
      <a href="{% url 'nosotros' %}">Friends</a>
    </div>

    <div class="contenedores">
      <a href="{% url 'nosotros' %}">Contacto</a>
    </div>
  </div>

</div>
<!-- Fin Menu -->

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Crea una cuenta</div>
      
      <div class='input-fields'>
      <form action="" method="post">{% csrf_token %}
        
        {{form.username}}
        {{form.email}}       
        {{form.password1}}
        {{form.password2}}
      </div>
      <div class='spacing'> continua con <span class='facebook'>Facebook</span></div>
      <div class='spacing'> continua con <span class='google'>Google</span></div>
      <a href="makerplace.html">
      <div><input type="submit" class='ghost-round full-width' value="Enviar" ></div>
    </a>
    </form>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<!-- Inicio Pie de pagina -->
<div id="piePagina">

  <div id="menu_footer">

    <div>
      <a href="#">Nosotros</a>
    </div>
    <div>
      <a href="#">Makers</a>
    </div>
    <div>
      <a href="#">Friends</a>
    </div>
    <div>
      <a href="#">Contacto</a>
    </div>
    
  </div>
  
  <div id="text_footer">
    <p>
      APOSTAMOS POR LOS SUEÑOS DE LOS QUE CREEN EN SI MISMOS COMPARTIENDO 
      <br>
      CONOCIMIENTO Y HERRAMIENTAS PARA DAR VIDA A SUS IDEAS
    </p>
  </div>
  <div id="copy">
    <p>© 2020 Copyright: <a href="#">LINADI</a></p>
  </div>

</div>
<!-- Fin Pie de pagina -->
<!-- ------------------------------------------------------------------------------------------------------ -->
{% endblock %}