
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>

<link rel="stylesheet" href="{% static 'core/vendor/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'core/css/registro.css'%}">

    <!-- script
    ================================================== -->
    <script src="{% static 'core/js/modernizr.js' %}%"></script>

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Crea una cuenta</div>
      
      <div class='input-fields'>
      <form action="" method="post">{% csrf_token %}
        
        {{form.username}}
        {{form.email}}       
        {{form.password1}}
        {{form.password2}}
      </div>
      <div class='spacing'> continua con <span class='facebook'>Facebook</span></div>
      <div class='spacing'> continua con <span class='google'>Google</span></div>
      <a href="makerplace.html">
      <div><input type="submit" class='ghost-round full-width' value="Enviar" ></div>
    </a>
    </form>
    </div>
  </div>
</div>

{% endblock %}